body {
    margin: 0;
    padding: 0;
    font-family: "Segoe UI", sans-serif;
    background: #e7eef5;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    width: 100%;
    background: #0a3d62;
    color: white;
    padding: 20px 0;
    text-align: center;
}

section {
    width: 90%;
    max-width: 450px;
    background: white;
    padding: 20px;
    margin-top: 25px;
    border-radius: 12px;
}

h3 {
    margin-bottom: 10px;
    color: #0a3d62;
}

input, select {
    width: 90%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #c4cdd6;
    border-radius: 6px;
    font-size: 14px;
}

input[type="submit"] {
    width: 95%;
    background: #0a3d62;
    color: white;
    border: none;
    font-weight: bold;
}


#saldo {
    margin-top: 8px;
    font-size: 20px;
    font-weight: bold;
    color: #07405c;
}

#listaMovimientos {
    width: 90%;
    max-width: 450px;
    margin-top: 20px;
}

.mov-card {
    background: white;
    padding: 12px;
    border-radius: 10px;
    margin-bottom: 12px;
}

.mov-card p {
    margin: 5px 0;
    font-size: 15px;
    color: #333;
}
